# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

#Configure variaves de ambiente para questao de segurança

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Configuração basica para conecção no banco de dados
#DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_URL="Url do banco de dados"

#Url do banco heroku:
#DATABASE_URL="Url do banco de dados online do heroku"

# Secret JWT
# Gera um codigo secreto (hash) com uma string que vc invetou para criptografia: MD5 hash generator (https://www.md5hashgenerator.com/)
# Foi usado a string "XXXXXXXX" para gerar o codigo secreto
# Depois foi copiado o camp "MD5 Hash" do site acima para a variavel de ambiente abaixo
JWT_SECRET=codigo-secreto-do-jwt

